# IDE
/.vscode
/__pycache__/
*.pyc
# Runtime directories
/log
/input
/output
/storage
# Test files
*.rpa

# Python
*.egg-info/
dist/
build/
*.pyc
resource/config.json
config.json

# Local test sandbox
/.test
.pytest_cache/
.coverage
coverage.xml
htmlcov/
